.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 0;
}
.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0;
}
.label {
    -fx-padding: 5 0;
}
* {
    -fx-font-family: "Helvetica";
    -fx-font-weight: 500;
    -fx-font-size: 17px;
}
.header {
    -fx-background-color:  #f06292;
}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill:WHITE;
}