.split-pane:horizontal > .split-pane-divider {
   -fx-padding: 0;
}
.split-pane:vertical > .split-pane-divider {
   -fx-padding: 0;
}
* {
    -fx-font-family: "Helvetica Neue";
    -fx-font-weight: 500;
    -fx-font-size: 20px;
}